<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | LIZZO</title>
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a class="active" href="about.html">About</a>
                </li>
                <li>
                    <a href="works.html">Works</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
            </ul>
        </nav>
        <h1><a href="index.html">LIZZO</a></h1>
        <article id="content">
            <p>
                A 3x GRAMMY® Award-winning singer, songwriter, rapper, actress, and so much more, Lizzo has shifted the sound, soul, and spirit of popular music and culture.Her 7x platinum “Truth Hurts” ascended to #1 on Billboard’s “Hot 100,” affirming Lizzo as only the third female rapper to top the chart without a featured artist, as well as the first black solo female R&B singer to claim the top spot since 2012.”
            </p>
            <p>
                Crowned 2019’s “Entertainer of the Year” by both TIME and Entertainment Weekly, Lizzo has adorned the covers of countless publications around the globe, spanning Rolling Stone, Billboard, Elle, British Vogue, and many more.
            </p>
            <p>
                Lizzo maintained this unstoppable momentum on 2021’s RIAA gold certified “Rumors (Feat. Cardi B)” and is now set to create her biggest, boldest, and brightest revolution thus far with her massively anticipated second full-length offering SPECIAL for Nice Life Recording Company/Atlantic Records, due July 15th.  
            </p>
        </article>
    </main>
</body>
</html>