<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | LIZZO</title>
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="works.html">Works</a>
                </li>
                <li>
                    <a class="active" href="gallery.html">Gallery</a>
                </li>
            </ul>
        </nav>
        <h1><a href="index.html">LIZZO</a></h1>
        <article id="content">
            <div class="row gallery">
                <img src="../public/img/gallery-1.jpg" alt="">
                <img src="../public/img/gallery-2.jpg" alt="">
                <img src="../public/img/gallery-3.jpg" alt="">
            </div>
        </article>
    </main>
</body>
</html>